services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: spring-boot-template:dev
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
